---
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";
import CrackingTime from "../components/CrackingTime.tsx"

---

<Layout title="Cracking Time Test | Rhythm Nation">
  <Main>
    <header>
      <h1 class="text-white text-4xl font-normal">
        Password Cracking Time Test
      </h1>
    </header>
    <CrackingTime/>
    <footer class="text-white text-base font-normal">
      For the estimated time, the calculation assumes a hypothetical machine that explores a billion possibilities per second.
    </footer>
  </Main>
</Layout>