---
const { title } = Astro.props;
---

<header class="flex items-center justify-start gap-11 relative w-full">
  <h1 class="text-white text-5xl font-normal mb-3 after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-72 after:h-1 after:bg-pink60">
    {title}
  </h1>
  <slot/>
</header>