---
import { Icon } from "astro-icon/components"
import {Image} from "astro:assets"
---

<aside class="flex flex-col bg-mirage min-h-screen w-1/3 p-8 gap-3">
  <Image
    src="/logo.svg"
    alt="kcraft logo"
    width={102}
    height={64}
  />
  <nav class="pt-8">
    <ul class="flex flex-col capitalize gap-4 text-white font-normal text-sm">
      <li class="flex items-center justify-start gap-3 ">
        <div class="border border-white rounded p-1">
          <Icon name={"material-symbols:password"} width={24} height={24} /> 
        </div>
        Password generator
      </li>
      <li class="flex items-center justify-start gap-3 ">
        <div class="border border-white rounded p-1">
          <Icon name={"material-symbols:timer-outline"} width={24} height={24} /> 
        </div>
         Cracking time test
      </li>
      <li class="flex items-center justify-start gap-3 ">
        <div class="border border-white rounded p-1">
          <Icon name={"material-symbols:folder-managed-outline"} width={24} height={24} /> 
        </div>
         Password manager
      </li>
    </ul>
  </nav>
</aside>